*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

--root{
    --bg:white;
    --bg2:lightgray;
    --button:grey;
   --text:black;
}

.button{
    margin: 30px auto;
    padding: 10px 100px;
    background-color: rgb(36, 34, 34);
    transition: ease 0.3s all;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    
    @media(max-width: 768px){
        display: flex;
        flex-direction: column;
        flex: 1;
    }
        
    }
    

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: auto;
    /* max-width: 1440px; */
    @media(max-width: 768px){
        height: 64px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex: 1;
        

    }
}
 header{
    display: flex;
    justify-content: space-between;
    height: 64px;
    /* width: auto; */
    background-color: white;
    margin: auto;
    /* max-width: 1440px; */
    @media(max-width: 768px){
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: auto;
        height: 64px;
        margin: 0 auto;
    }
    }   
.logo{
             /* display: flex;
            justify-content: center; */
            align-items: center;
            margin-left: 24px;
            margin-top: 16px;
            margin-bottom: 16px;
            height: 32px;
            width: auto;
            font-size: 32px;
            text-decoration: none;
            color: var(--text);
            
                @media(max-width: 768px){
                    display: none;
                }
 }               
        
        

.mobile-logo{
    display: none;
        @media(max-width: 768px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
        }
 }

 #menu{
    margin-right: 24px;
    height: 64px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    color: var(--text);

        @media(max-width: 768px){
            display: none;
        }
 }

 .hero{
    display: flex;
    background-color: lightgrey
 }

 .hero-banner{
    flex: 1;
    display: flex;
    margin: 32px 24px;

    justify-content: center; */
    align-items: center;
    height: auto;
    
    img{
        
        display: flex;
        flex-direction: column;
        width: 100%;
        object-fit: cover;
        overflow: hidden;

    }

 }

 .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 24px;
    margin-right: 150px;
    flex: 1;
    word-spacing: 2px;   
}

 h1{
       font-size: 65px;
       word-spacing: 2px;
    }

 h4{
        font-size: 30px;
        word-spacing: 2px;
    }    
 
.information{
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    margin: 32px 24px;
    flex-wrap: wrap;
    width: 100%;
}

.info-img{
    overflow: hidden;
    max-width: 60%;
    margin-right: 24px;
    }

.info-img img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.info-img h2{
        margin-top: 32px;
        margin-bottom: 24px;
        /* margin-left: 32px; */
        align-items: center;
        @media(max-width: 768px){
            display: none;
        }
    }
.info-img blockquote{
            display: block;
            flex-direction: column;
            align-items: baseline;
            margin-bottom: 32px;
            /* margin-left: 32px; */
            /* width: 60%; */
        }


.info-side{
    /* border: solid gray; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    flex: 1;
    /* margin-right: 16px; */
    padding: 16px;
    
    
}
.box-1-all,
.box-2-all,
.box-3-all{
    width: 100%;
    padding: 16px;
    display: flex;
    /* margin-right: 24px; */
    border: solid 1px lightgray;
    &:hover{
        background-color: lightgray;
        .pointer;
        
    }
}
.box-1-img-con,
.box-2-img-con,
.box-3-img-con{
    /* flex: 1; */
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-wrap: wrap;
    max-width: 35%;
    height: auto;
    overflow: hidden;
}
.box-1-img-con img,
.box-2-img-con img,
.box-3-img-con img{
   
    width: 100%;

}
.box-1,
.box-2,
.box-3{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 16px;
    margin: 5px;
    width: 65%;   

}

.coures-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: white
    margin-top: 32px;
}

.coures-info{
    margin: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    opacity: 80%;
    


    
}

.f-row,
.s-row
{
    display: flex;
    /* justify-content: space-around; */
    gap: 32px;
    /* width: calc((100% - 64px / 3)); */
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
    
  
}

.sw,
.com,
.ds,
.dt,
.bu,
.mk{
    
    display: flex;
    flex-direction: column;
    /* width: calc((100% - 64px / 3)); */
    background-color: white;
    width: 320px;
    height: 340px;
}

.sw-img-con,
.com-img-con,
.ds-img-con,
.dt-img-con,
.bu-img-con,
.mk-img-con
{
    width: 100%;
    display: flex;


    



}


.sw-img-con img,
.com-img-con img,
.ds-img-con img,
.dt-img-con img,
.bu-img-con img,
.mk-img-con img
{
    
    object-fit: contain;
    overflow: hidden;
    
    

}


.sw-text,
.com-text,
.ds-text,
.dt-text,
.bu-text,
.mk-text
{
    padding: 16px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    h4{
        font-size: 25px;
        
    }
    h5{
        font-size: 25px;
    }
    
}

.thesis{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 32px 24px;
    flex-wrap: wrap;
    /* width: 100%; */
}

.thesis-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    padding: 32px auto;
   
}

.vid-con{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 60%;
    background-color: white;
    padding-right: 24px;
    padding-left: 24px;
    
}
.vid-con video{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.vid-con h3{
    padding-top: 24px;
    padding-bottom: 32px;

}
.vid-con p{
    display: block;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 32px;
}

.thesis-side{
    
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    flex: 1;
    /* margin-right: 16px; */
    /* padding: 16px;  */
    width: 40%; 
    
}
.th-1-all,
.th-2-all{
   
    width: 100%;
    display: flex;
    padding: 16px;
    &:hover{
        background-color: lightgray;
        .pointer;
    }
    
}

.th-img-con,
.th-img2-con{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-wrap: wrap;
    max-width: 35%;
    height: auto;
    overflow: hidden;
}
  
.th-img-con img,
.th-img2-con img{
    width: 100%;
    object-fit: contain;
}
.th-text1,
.th-text2{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 16px;
    margin: 5px;
     width: 100%;  
}

.foot{
    margin: 16px 24px;
    
}





